<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Team-Mali">
      <link rel="icon" href="{% static 'mairie/images/favicon.png' %}">
      <title>{% block title %}{% endblock %}</title>
      <!-- CSS FILES START -->
      <link rel="stylesheet" href="{% static 'mairie/css/custom.css' %}">
      <link rel="stylesheet" href="{% static 'mairie/css/color.css' %}" >
      <link rel="stylesheet" href="{% static 'mairie/css/responsive.css' %}" >
      <link rel="stylesheet" href="{% static 'mairie/css/owl.carousel.min.css' %}" >
      <link rel="stylesheet" href="{% static 'mairie/css/bootstrap.min.css' %}" >
      <link rel="stylesheet" href="{% static 'mairie/css/prettyPhoto.css' %}" >
      <link rel="stylesheet" href="{% static 'mairie/css/all.min.css' %}" >
   {% block style %} {% endblock %}
      <!-- CSS FILES End -->
   </head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-uppercase" href="{% url 'indexPage' %}">Blog Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index_post'%}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_post' %}">Rédaction</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control ml-2" type="search" placeholder="Recherche" aria-label="Search">
        <button class="btn btn-outline-success ml-2" type="submit">Recherche</button>
      </form>
    </div>
  </div>
</nav>

{% block content %} {% endblock %}
<!--   JS Files Start  -->
      <script src="{% static 'mairie/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'mairie/js/jquery-migrate-1.4.1.min.js' %}"></script>
      <script src="{% static 'mairie/js/popper.min.js' %}"></script>
      <script src="{% static 'mairie/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'mairie/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'mairie/js/jquery.prettyPhoto.js' %}"></script>
      <script src="{% static 'mairie/js/isotope.min.js' %}"></script>
</body>
</html>