<!doctype html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
  <!-- CSS FILES START -->
  <!-- Css Bootstrap -->
    <link rel="stylesheet" href="{% static 'app_admin/css/headers.css' %}">
      <link rel="stylesheet" href="{% static 'app_admin/css/color.css' %}" >
      <link rel="stylesheet" href="{% static 'app_admin/css/responsive.css' %}" >
      <link rel="stylesheet" href="{% static 'app_admin/css/owl.carousel.min.css' %}" >
      <link rel="stylesheet" href="{% static 'app_admin/css/bootstrap.min.css' %}" >
      <link rel="stylesheet" href="{% static 'app_admin/css/prettyPhoto.css' %}" >
      <link rel="stylesheet" href="{% static 'app_admin/css/all.min.css' %}" >
    <!-- Css aninate style -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  <!-- Css custom -->
   <link rel="stylesheet" href="{% static 'app_admin/css/custom.css' %}">
  <!-- Css DataTable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>
      {% block style %}{% endblock %}
      <!-- CSS FILES End -->

  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#"><i class="fas fa-user-secret"></i> AGRI-MAIRIE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{% url 'indexDashbord' %}" class="nav-link text-white"><i class="fas fa-home">   </i> Accueil</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'toutes-les-cooeperatives' %}" class="nav-link text-white"><i class="fas fa-users"></i> Coopératives</a>
        </li>
          <li class="nav-item">
          <a href="{% url 'toutes-les-femmes' %}" class="nav-link text-white"><i class="fas fa-female"></i> Femmes</a>
        </li>
         <li class="nav-item dropdown">
              {% if user.is_authenticated %}
    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fas fa-user-circle"></i> {{user.username}} </a>
              {% endif %}
    <div class="dropdown-menu">
     <a href="{% url 'logoutPage' %}" class="dropdown-item  btn btn-sm">Déconnexion</a>
    </div>
  </li>
      </ul>
    </div>
  </div>
</nav>
{% block dashbord %} {% endblock %}

      <!--   JS Files Start  -->
    <!-- Js Bootstrap -->
      <script src="{% static 'mairie/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'app_admin/js/jquery-migrate-1.4.1.min.js' %}"></script>
      <script src="{% static 'app_admin/js/popper.min.js' %}"></script>
      <script src="{% static 'app_admin/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'app_admin/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'app_admin/js/jquery.prettyPhoto.js' %}"></script>
      <script src="{% static 'app_admin/js/isotope.min.js' %}"></script>
    <!-- Js Custom -->
      <script src="{% static 'app_admin/js/custom.js' %}"></script>
    <script src="{% static 'app_admin/js/process.js' %}"></script>

    <script>
         document.body.addEventListener('htmx:configRequest', (event) =>  {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
         })
      </script>
    {% block js %} {% endblock %}
    <!-- Js Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <!-- Js DataTable -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>

<!-- HTMX Ajax link -->
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>

<!-- Js SweetAlert2 -->
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <!--   JS Files End  -->
</body>
</html>