{% extends 'app_admin/base.html' %}
{% block title %} Ajout | Liste cooeperative {% endblock %}

{% block dashbord%}
{% load static %}
{% load crispy_forms_tags %}
<section class="container py-5">
    <div class="row">
        <div class="col-lg-8 col-sm mb-5 mx-auto">
            <h1 class="text-center lead text-primary text-uppercase animate__backInUp">
                 Page d'administration (CRUD) de la plateforme Agri-Mairie
            </h1>
        </div>
    </div>
        <div class="dropdown-divider border-warning"></div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="fw-bold mb-0">
                Liste des Coopératives
            </h5>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-primary mr-3" data-toggle="modal" data-target="#createModal"> <i class="fas fa-folder-plus"></i> Nouveau</button>
                <a href="{% url 'export-excel' %}" class="button btn-sm btn btn-success"><i class="fas fa-table"></i> Exporter</a>
            </div>
        </div>
    </div>
        <div class="dropdown-divider border-warning"></div>
        <!-- Include Cooperative list -->
    {% include 'partials/listing-cooperative.html' %}
</section>

<!-- Add Cooperative Modal Start-->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Ajouter une Nouvelle Coopérative</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- Cooperative Add Form include -->
        {% include 'app_admin/form_add_cooperative.html' %}
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Cooperative Modal End-->
{% if sauvegarde %}
                {% endif %}


<!-- Modal Info Coopérative Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Info Coopérative End -->
{% endblock %}