{% extends 'mairie/base.html' %}
{% block title %}
Accueil | Blog
{% endblock %}
{% load static %}
{% block content %}
   <!--Blog Start-->
         <section class="wf100 p80 blog">
            <div class="blog-grid">
               <div class="container">
                  <div class="row">
                     {% for post in posts %}
                     <!--Blog Small Post Start-->
                     <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="{% url 'post_detail' post.slug %}"><i class="fas fa-link"></i></a> <img src="{{post.image.url}}" alt=""> </div>
                           <div class="post-txt">
                              <h5><a href="{% url 'post_detail' post.slug %}">{{post.title}}</a></h5>
                              <ul class="post-meta">
                                 <li> <a href="{% url 'post_detail' post.slug %}"><i class="fas fa-calendar-alt"></i>Publié le :{{post.created_on}}</a> </li>
                                 <li> <a href="{% url 'post_detail' post.slug %}"><i class="fas fa-comments"></i> Commentaires : {{post.comments.count}}</a> </li>
                              </ul>
                              <p>{{post.content|truncatewords:20}}</p>
                              <a href="{% url 'post_detail' post.slug %}" class="read-post">Lire l'article</a>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                     {% endfor %}
                  </div>
                  <div class="gt-pagination">
                     <nav>
                        <ul class="pagination">
                           <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <i class="fas fa-angle-left"></i> </a> </li>
                           <li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item active"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <i class="fas fa-angle-right"></i> </a> </li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </section>
         <!--Blog End-->
{% endblock %}
