{% extends 'mairie/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
         <!--Causes Start-->
         <section class="wf100 p80">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4">
                  </div>
                  <div class="col-lg-4">
                     <div class="login-box">
                     {% for message in messages %}
                        {% if message.error %}
                        <div class="alert alert-danger alert-{{message.tags}} "> <strong>{{message}}</strong></div>
                        {% else %}
                        <div class="alert alert-success alert-{{message.tags}} "> <strong>{{message}}</strong></div>
                     {% endif %}
                     {% endfor %}
                        <h3>Connexion</h3>
                        <form action="" method="post" novalidate class="is-invalid">
                           {% csrf_token %}
                           <label> Nom d'utilisateur: </label>
                           {% if form.username.errors %}
                           {% for error in form.username.errors %}
                           <div class="div-error-{{form.username.name}}"><small class="text-danger">{{error}}</small></div>
                           {% endfor %}
                           {% endif %}
                           <div class="input-group">
                              {{form.username}}
                           </div>
                           <label> Mot de passe : </label>
                           {% if form.pwd.errors %}
                           {% for error in form.pwd.errors %}
                           <div class="div-error-{{form.pwd.name}}"><small class="text-danger">{{error}}</small></div>
                           {% endfor %}
                           {% endif %}
                           <div class="input-group">
                              {{form.pwd}}
                           </div>
                           <div class="input-group text-center">
                              <a href="#" class="fp">Mot de passe oublié</a>
                           </div>
                           <div class="input-group">
                              <button class="login-btn">accès à mon compte</button>
                              <p class="text-white" style="margin-top:8px;">Pas de compte ? <a class="text-white" href="{% url 'registerPage' %}">Créer un compte</a></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--Causes End-->
         <script src="{% static 'app_login/script.js'%}" charset="utf-8"></script>
{% endblock %}
