{% extends 'mairie/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
         <!--Causes Start-->
         <section class="wf100 p80">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="myaccount-form">
                        <h3>Enregitrez-vous</h3>
                         {% for message in messages %}
                         {% if message %}
                        <div class="alert alert-success alert-{{massage.tags}}r">{{message}}</div>
                        {% endif %}
                        {% endfor %}
                        <form method="POST" action="">
                           {% csrf_token %}
                           <ul class="row">
                              <li class="col-md-6">
                                 <label> Nom : </label>
                                 {% if form.first_name.errors %}
                           {% for error in form.first_name.errors %}
                           <div class="div-error-{{form.first_name.name}}"><small class="text-danger">{{error}}</small></div>
                           {% endfor %}
                           {% endif %}
                                 <div class="input-group">
                                    {% render_field form.first_name class='form-control'%}
                                 </div>
                              </li>
                              <li class="col-md-6">
                                 <label> Prénom : </label>
                                 {% if form.last_name.errors %}
                                 {% for error in form.last_name.errors %}
                                 <div class="div-error-{{form.last_name.name}}"><small class="text-danger">{{error}}</small></div>
                                  {% endfor %}
                                  {% endif %}
                                 <div class="input-group">
                                    {% render_field form.last_name class='form-control' %}
                                 </div>
                              </li>
                              <li class="col-md-6 mb-0">
                                 <label> Email : </label>
                                 {% if error2 %}
                                 <div class="div-error-{{error2}}"><small class="text-danger">{{error2}}</small></div>
                                 {% endif %}
                                 <div class="input-group">
                                    {% render_field form.email class='form-control' hx-post="check_email/" hx-swap="outerhtml" hx-trigger="keyup changed" hx-target="#email-error" %}
                                 </div>
                                 <div id="email-error"></div>
                              </li>
                              <li class="col-md-6">
                                 <label> Nom d'utilisateur : </label>
                                 {% if error1 %}
                                 <div class="div-error-{{error1}}"><small class="text-danger">{{error1}}</small></div>
                                  {% endif %}
                                 <div class="input-group">
                                    {% render_field form.username class='form-control' hx-post="check_username/" hx-swap="outerhtml" hx-trigger="keyup changed" hx-target="#username-error" %}
                                 </div>
                                 <div id="username-error"></div>
                              </li>
                              <li class="col-md-6">
                                 <label> Mot de passe : </label>
                                 <div class="div-error-{{form.pwd.name}}"><small class="text-danger">{{error}}</small></div>
                                 <div class="input-group">
                                    {% render_field form.pwd class='form-control' %}
                                 </div>
                              </li>
                              <li class="col-md-6">
                                 <label>Confirmation mot de passe : </label>
                                 {% if errors %}
                                 <div class="div-error-{{error}}"><small class="text-danger">{{error}}</small></div>
                                  {% endif %}
                                 <div class="input-group">
                                    {% render_field form.pwd2 class='form-control' %}
                                 </div>
                              </li>
                              <li class="col-md-12">
                                 <div class="input-group form-check">
                                    <p>{% render_field form.conditions %} <label class="form-check-label"> J’ai lu et j’accepte  <a href="#">les conditions générales d’utilisation </a></label> <strong>d'Agri-Mairie.</strong></p>
                                 </div>
                              </li>
                              <li class="col-md-12">
                                 <button class="register">Créer un compte</button>
                              </li>
                           </ul>
                        </form>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Causes End-->
         <script src="{% static 'app_login/script.js'%}" charset="utf-8"></script>
{% endblock %}
