{% extends 'blog/base.html' %}
{% block title %}
Page 404
{% endblock %}

{% load static %}

{% block content %}
         <!--Contact Start-->
         <section class="page404 wf100 p80">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <img src="images/image404.jpg" alt="">
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <div class="page-404-txt wf100">
                        <h1><span>Something</span> <br> Went <span>Wrong!</span></h1>
                        <strong class="title-404">404</strong>
                        <a href="{% url 'indexPage' %}"><i class="fas fa-home"></i> Retour à la page d'accueil </a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--Contact End-->
{% endblock %}